<tr>
    <th>Id</th>
    <th>Name</th> 
    <th>Age</th>
    <th>Class</th>
    <th>Update</th>
    <th id="delete-title">Delete</th>
</tr>
<% if(students.length != 0){
    students.forEach(function(row){ %> 
<tr id="<%= row.id_student %>">
    <th><%= row.id_student %></th>
    <th><%= row.name_student %></th> 
    <th><%= row.age_student %></th>
    <th><%= row.name_class %></th>
    <th>
        <button type="button" class="pointer update-btn" onclick="updateBtn('<%= row.id_student %>')">
            &#9998;
        </button>
    </th>
    <th>
        <button type="button" class="pointer delete-btn" onclick="delStudent('id_student', '<%= row.id_student %>')">
            &times;
        </button>
    </th>
</tr>
<% }); }
else{ %> 
<tr>
    <th colspan="6">Not found!</th>
</tr>
<% } %>